{
  "Variables": {
    "S3_BUCKET": "my-bucket",
    "S3_ENDPOINT": "http://host.docker.internal:4566",
    "AWS_REGION": "us-west-1",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "API_BASE_URL": "http://host.docker.internal:3001",
    "OPENAI_API_KEY": "",
    "PINECONE_API_KEY": "",
    "PINECONE_INDEX": ""
  }
}